dotenv~=0.9.9
python-dotenv~=1.2.1
openai~=2.15.0
langchain-text-splitters~=1.1.0
langchain-community~=0.4.1
langchain-openai~=1.0.2
dash~=3.3.0
langchain-google-genai~=4.2.0
langchain-core~=1.2.7
polars~=1.24.0
scikit-learn~=1.6.1
torch~=2.6.0
pandas~=2.2.3
transformers~=4.49.0
langgraph~=1.0.6
langchain~=1.2.6
pypdf~=6.6.0
python-docx~=1.2.0
boto3~=1.40.68
sympy~=1.13.1
pinecone~=7.3.0
joblib~=1.4.2
instructor~=1.13.0
numpy~=2.3.4
aiohttp~=3.11.13
protobuf~=5.29.3
google-auth-oauthlib~=1.2.3
google-api-python-client~=2.187.0
beautifulsoup4~=4.13.3
requests~=2.32.5
streamlit~=1.51.0
langchain-aws~=1.0.0
rich~=13.9.4
langchain-chroma~=1.1.0